*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body{
	text-align: center;
	
}



/* HEADER with logo   */
.top-header{
	position: absolute;
}

header{

	height: 126px;
	background-color: #eaaf46;
	display: block;
}

.logo{
	height: 80px;
	width: 250px;
	left: 40px;
	top:20px;
	position: relative;
}



/* SECTION 1 - LATEST NEWS  */

.first-section{
	display: block;

}
.main-title{
	font-size: 100px;
	margin-top: 20px;
	color: #eaaf46;
	font-family: 'Bebas Neue', cursive;

}

.top-text{
	width: auto;
	margin-bottom: 0px;

}

.hero-img{
	margin-top: 20px;
	height: 370px;
	width: 697px;

}

/* SECTION 2- WHAT'S NEW*/
.second-section{
	margin-top: 20px;
	display: block;


}

.table-1{
	margin-left: 135px;
}

tbody{
	border:2px solid red;
}
.row-1{
	border: 2px solid red;
}
.bottom-image-1{
	width: 250px;
	height: 200px;
	

}

.bottom-image-2{
	width: 250px;
	height: 200px;
	

}

.bottom-image-3{
	width: 250px;
	height: 200px;
	

}



/* SECTION 3 - FOLLOW US */


.third-section{
	display: block;
	background-color: #eaaf46;
	margin-top: 40px;
	height: 100px;
}

.sharing-logo{

	background-color: transparent;
	width: 40px;
	height: 40px;
	margin-top:10px;
	padding: 5px;

}
.follow-us{
	padding-top:15px;
}


/* FOOTER  */

.bottom{
	display: inline;
	margin: 10px;
}


footer{

	margin: 30px;
}








