*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body{
	text-align: center;
	
}



/* HEADER with logo   */
.top-header{
	position: absolute;
}

header{

	height: 126px;
	background-color: #eaaf46;
	display: block;
}

.logo{
	height: 80px;
	width: 250px;
	left: 40px;
	top:20px;
	position: relative;
}



/* SECTION 1 - LATEST NEWS  */

.first-section{
	display: block;

}
.main-title{
	font-size: 100px;
	margin-top: 20px;
	color: #eaaf46;
	font-family: 'Bebas Neue', cursive;

}

.top-text{
	width: auto;
	margin-bottom: 0px;

}

.hero-img{
	margin-top: 20px;
	height: 370px;
	width: 697px;

}

/* SECTION 2- WHAT'S NEW*/
.second-section{
	margin-top: 20px;
	display: block;


}
table{
	border: 2px solid red;
	width: 800px;
}
.table-1{
	margin-left: 300px;
}

tbody{
	border:2px solid red;
}
tr{
	width: 100px;
}
.row-1{
	border: 2px solid red;
}
.bottom-image-1{
	width: 250px;
	height: 200px;
	

}

.bottom-image-2{
	width: 250px;
	height: 200px;
	

}

.bottom-image-3{
	width: 250px;
	height: 200px;
	

}

.football-title{
	display: block;
	float: left;
	margin-right: 200px;

}

.football-text{
	margin-top:10px;
	margin-bottom: 10px;
	display: block;
	margin-right: 200px;
	float: left;
	text-align: justify;


}
.BUTTON_GGO {


    
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #eaaf46;
	border-radius:5px;
	
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	border: none;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	float: left;
	
}
.BUTTON_GGO-1 {


    
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #eaaf46;
	border-radius:5px;
	
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	border: none;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	float: right;
	
}

/* SECTION 3 - FOLLOW US */


.third-section{
	display: block;
	background-color: #eaaf46;
	margin-top: 40px;
	height: 100px;
}

.sharing-logo{

	background-color: transparent;
	width: 40px;
	height: 40px;
	margin-top:10px;
	padding: 5px;

}
.follow-us{
	padding-top:15px;
}


/* FOOTER  */

.bottom{
	display: inline;
	margin: 10px;
}


footer{

	margin: 30px;
}
